<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SignalFromSql" connectionString="Data Source=5.178.84.50;Initial Catalog=InvoiceVerificationTest;User ID=rply;Password=ini9qwevbn.;Connection Timeout=60" />
    <add name="SignalFromNoSql" connectionString="mongodb://igorgy:mailabs1@cluster0-shard-00-00-gijji.mongodb.net:27017,cluster0-shard-00-01-gijji.mongodb.net:27017,cluster0-shard-00-02-gijji.mongodb.net:27017/test?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin" />
  </connectionStrings>
</configuration>